/*
---------------------------------------------------------------
static/index.css
---------------------------------------------------------------
A set of custom style rules for the TaxReceipt
index.html page.
*/

.disclaimer {
    color: red;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 2px 4px 2px #aaa;
}


.gd-green {
    background-image: linear-gradient( 135deg, #70F570 10%, #49C628 100%);
}

.gd-darkblue {
    background-image: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
}

.gd-purple {
    background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
}
